/* Temas del segundo período*/

.texto{
   
    font-size: 45px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos\,jpg.jpg");
    height: 2000px;
    background-repeat: repeat
    

}

.titulo{

    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.colonia{
    height: 355px;
    width:  600px;
    background-image: url("colonia.png");
}

.openyclosed{
    height: 300px;
    width: 600px;
    background-image: url("openyclosed.webp");

}

.cortocircuitoo{
    height: 300px;
    width: 408px;
    background-image: url("cortocircuitoo.webp");

}

.circuitoparalelo{
    height: 422px;
    width: 740px;
    background-image: url("circuitoparalelo.png");

}


.funciones{
    height: 422px;
    width: 740px;
    background-image: url("funciones.png");

}


.funcionesbasicas{
    height: 422px;
    width: 740px;
    background-image: url("Funcionesbasicas.jpg");

}

.avion1{
    height: 300px;
    width: 400px;
    background-image: url("avion1.n.jpg");
    background-repeat: no-repeat 
}


.avion2{
    height: 300px;
    width: 400px;
    background-image: url("avion.2.jpg");
    background-repeat: no-repeat 
}

.basquebol{
    height: 300px;
    width: 400px;
    background-image: url("basquebol.jpg");
   
    
}

.function{
    height: 200px;
    width: 100px;
    background-image: url("function.jpg");
    background-repeat: no-repeat 
}

.logo{
    height: 800px;
    width: 900px;
    background-image: url("logo.jpg");
    
}

.trabaj{
    height: 422px;
    width: 740px;
    background-image: url("trabajo.jpg");
    background-repeat: no-repeat 
}


.REVOLUCIONINDUSTRIAL{
    height: 500px;
    width: 800px;
    background-image: url("REVOLUCIONINDUSTRIAL.png");
    background-repeat: no-repeat 
}
